<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.XA.Foundation.PlaceholderSettings.Services.ILayoutsPageContext, Sitecore.XA.Foundation.PlaceholderSettings"
                patch:instead="*[@implementationType='Sitecore.XA.Foundation.PlaceholderSettings.Services.LayoutsPageContext, Sitecore.XA.Foundation.PlaceholderSettings']"
                implementationType="Sitecore.Support.XA.Foundation.PlaceholderSettings.Services.LayoutsPageContext, Sitecore.Support.293964" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>